# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates
*.pdb
*.cache
*.csproj.user
*.dll
*.exe
bin/
obj/
Debug/
Release/
ipch/
packages/
*.vspscc
*.vssscc
*.nupkg
*.snk
*.userprefs
*.log
*.tlog
*.cache
*.cachefile
*.scc

# Ignore web specific files
*.compiled
# Build results
[Dd]ebug/
[Rr]elease/
# Obj files
**/[Oo]bj/
**/[Bb]in/
*.dll
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.opt
*.aps
*.ncb
*.obj
*.asm
*.o
*.res
*.user
*.scc
*.sdf
*.opensdf
*.sln.docstates
*.csproj.user
*.Cache
*.webinfo
*.Publish.xml
*.publishproj
obj/
bin/

